<nav class="nav"> 
    <div class="nav_brand">
        <img src="/images/logo-1.png" aria-label="logo of dollar sign" class="nav_logo">
        <a href="/"><div class="title">Personal Finance Tips</div></a>       
    </div>

    <a href="/all-tips"><button class="nav_btn">All Tips</button></a>    
</nav> 

