<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="hero-container">
        <div class="hero-image" role="img" aria-label="man looking at mountains"></div>
        <nav class="nav">
            
            <div class="nav_brand">
                <img src="/images/logo.jpg" aria-label="logo of dollar sign" class="nav_logo">
                <div class="title">Personal Finance Tips</div>       
            </div>

            <button class="nav_btn">All Tips</button>    
        </nav>    
    </div>

    

    {{{body}}}

    <footer class="footer">
        <p>© 2026 Personal Finance Tips</p>
    </footer>
</body>
</html>