<div class="center-container">
    <h1 class="h1-404">Sorry, we could not find the page you're looking for</h1>
    <div class="button-container">
        <a href="/"><button class="nav_btn">Home page</button></a>
        <a href="/all-tips"><button class="nav_btn">Browse All Articles</button></a>
    </div>
</div>
