<div class="input-wrapper">
    <label for="articleSearch">&#128269; Search</label>
    <input type="text" id="articleSearch" placeholder="Enter any article name to search">
</div>


<div class="center-container">
    <h2 class="card-header">Learn Something New Today</h2>
</div>

<div class="grid-container">
    {{#each allTipsCards}}
        {{> cards }}
    {{/each}}
</div>